.topBarContainer {
    padding: 32px 20px 0px 20px;
    display: flex;
    justify-content: center;
}

.topBarRow {
    max-width: 480px;
    margin: 0 !important;
}

.topbarCol {
    padding: 0;
}

@media screen and (min-width: 768px) {
    .topBarRow {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .topBarRow {
        max-width: 1000px;
    }
}