@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap%27');
@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --backColor: #0D6EFD;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--backColor);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.input_text{
    margin-left: 48px;
    font-size: 12px;
}

.title{
    margin: 48px 0 48px 48px;
    font-size: 24px;
}

.logo{
    margin: 44px 0 0 48px;
}