@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap%27');
@import 'bootstrap/dist/css/bootstrap.css';

.title {
    font-size: 36px;
    width: 100px;
}

.formContainer {
    padding: 48px;
}

.headerlogo {
    padding-bottom: 70px;
}

.button{
    align-items: center;
    text-align: center;
}

/* .headerlogo span{
    background-color: purple;
    padding-left: 48px;
    margin-top: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 11px;
} */

@media screen and (min-width:768px) {
    .title{
        white-space: normal;
    }
}